<h1>マイページ</h1>

<h2>登録情報</h2>

<table>
    <tr>
      <td>氏名</td>
      <td></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td></td>
    </tr>
    <tr>
     <td>住所</td>
     <td></td>
    </tr>
    <tr>
     <td>電話番号</td>
     <td></td>
    </tr>
    <tr>
     <td>メールアドレス</td>
     <td></td>
    </tr>
</table>