<h1>商品一覧ページ</h1>
<% @items.each do |item| %>

<p>商品一覧</p>
 <span>
   <%= link_to item.title, admin_item_path(item.id) %>
 </span>

 <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">商品名</th>
      <th scope="col">税抜価格</th>
      <th scope="col">ジャンル</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% end %>