<h1>注文履歴詳細</h1>
  <table class="table table-borderless">
         <tr>
          <th>購入者</th>
           <td>
            <%= @customer.last_name %><%= @customer.first_name %>
          </td>
         </tr>
        <tr>
         <th></th>
         <td>
          <%= @customer.email %>
         </td>
        </tr>
       <tr>
        <th>ステータス</th>
        <td>
          <% if @customer.is_deleted == false %>
           <p>有効</p>
          <% else %>
           <p>販売停止中</p>
          <% end %>
        </td>
      </tr>
     </table>
     <div>
      <%= link_to '編集する',  edit_admin_customer_path(@customer.id) %>
     </div>